
#ifdef MULTIPLAYER
	##::Author: Kwandulin
	[binary_path]
		path=data/add-ons/Toy_Soldier/
	[/binary_path]
	{~add-ons/Toy_Soldier/macros/abilities-macro.cfg}
	{~add-ons/Toy_Soldier/eras/}
	{~add-ons/Toy_Soldier/faction/}
	[+units]
		{~add-ons/Toy_Soldier/macros/animation-macros.cfg}
		{~add-ons/Toy_Soldier/macros/race.cfg}
		{~add-ons/Toy_Soldier/macros/movetypes.cfg}
		{~add-ons/Toy_Soldier/units/}
		{~add-ons/Toy_Soldier/units/gnomes/}
		{~add-ons/Toy_Soldier/units/toys/bear}
		{~add-ons/Toy_Soldier/units/toys/doll}
		{~add-ons/Toy_Soldier/units/toys/horseman}
		{~add-ons/Toy_Soldier/units/toys/juggler}
		{~add-ons/Toy_Soldier/units/toys/kite}
		{~add-ons/Toy_Soldier/units/toys/marionette}
		{~add-ons/Toy_Soldier/units/toys/miniature}
		{~add-ons/Toy_Soldier/units/toys/nutcracker}
	[/units]
#endif